.container{
	padding: 20px;
}
#my-canvas {
	cursor: url(https://raw.githubusercontent.com/mcnitt/simple-jquery-drawing-app/master/img/cursor.png), crosshair;
    display: block;
	margin: 0 auto;
	box-shadow: 1px 1px 1px;
	border: 2px solid black;
}

.navbar {
	height: 100px;
	background-color: #474747;
	border-bottom: solid 6px black;
}
.icon {
	position: relative;
	display: inline-block;
	font-size: 2em;
	width: 100px;
	top:15px;
	left:5px;
	transition: color .5s;
}
.icon:hover {
color: orange;
cursor: pointer;
}
.icon.selected {
	color:yellow;
}
.undo {
	position: relative;
	display: inline-block;
	font-size: 2em;
	width: 100px;
	top:15px;
	transition: color .5s;
}
.undo:hover {
	color: orange;
	cursor: pointer;
}
.undo.selected {
	color:yellow;
}
.save {
	position: relative;
	display: inline-block;
	font-size: 2em;
	width: 100px;
	top: 15px;
	transition: color .5s;
}
.save:hover {
	color: orange;
	cursor: pointer;
}
.save.selected {
	color:yellow;
}
.redo {
	position: relative;
	display: inline-block;
	font-size: 2em;
	width: 100px;
	top: 15px;
	transition: color .5s;
}
.redo:hover {
	color: orange;
	cursor: pointer;
}
.redo.selected {
	color:yellow;
}
.load {
	position: relative;
	display: inline-block;
	font-size: 2em;
	width: 100px;
	top: 15px;
	transition: color .5s;
}
.load:hover {
	color: orange;
	cursor: pointer;
}
.load.selected {
	color:yellow;
}



span {
	color: white;
	font-weight: bold;
	margin: 2px;
}

.palette {
	margin-left: 530px;
}
